<div ng-controller="HomeController">
<header>
    <h1 class="text-center">{{ welcomeMessage }}</h1>
</header>
<main>
    <br />
    <img class="img-fluid" src="~/Content/Images/movie_roll.png" />
    <br />
    <h2 >Discover the Latest Movies</h2>
    <p>Book your tickets online and enjoy a seamless movie experience.</p>
    <a href="/Home/movies" class="btn btn-primary">Explore Movies</a>
</main>
</div>