<main>
    <section>
        @Html.React("HelloWorld", "Hello")


        @* Render the JSX files in Razor Files *@
        <script type="module" src="~/Scripts/JSX/helloReact.jsx"></script>
        @Html.ReactInitJavaScript()
    </section>
</main>