<main>
    <br />
    <h2 class="text-center">Welcome to EzWatchTicketing System</h2>
    <img class="img-fluid" src="~/Content/Images/movie_roll.png" alt="EWT Home Image" width="300" height="200" />
    <br />
    <br />
    <h2>Discover the Latest Movies</h2>
    <p>Book your tickets online and enjoy a seamless movie experience.</p>
    <a href="/Home/movies" class="btn btn-primary">Explore Movies</a>
</main>